.video{
  height:50px;
  background-color:orange;
}
.link{
  text-decoration:none;
  color:black;
  font-family:verdana;
  display:flex;
  justify-content:center;
  padding:12px;
}
.cont1{
  list-style-type:none;
  display:flex;
  font-family:verdana;
  gap:0 40px;
}
body{
background-size:cover;
  background-image: url("https://www.ixbt.com/img/n1/news/2023/2/3/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202023-03-22%20192327_large.png")
}
  button{
  outline:none;
  border:none;
  width:200px;
  background-color:lightblue;
  color:white;
  font-size:20px;
  letter-spacing:2px;
  cursor:pointer;
  border-radius:20px;
}
.cs{
  font-family:verdana;
  border-radius:25px;
  padding:35px 25px;
  max-width:500px;
  max-height:740px;
  background:gray;
  margin-top: 30vh;
  position:absolute;
  left:70%;
  top:-10%;
  color:lightgray
}
.footer{
  font-family:verdan;
  position:relative;
  left:1200px;
  top:500px;
}
.mylife{
  color:white;
  font-family:verdana
}

.ps{ 
  outline:none;
  border:none;
  width:300px;
  background-color:white;
  color:black;
  font-size:20px;
  letter-spacing:2px;
  cursor:pointer;
  border-radius:40px;
  text-decoration:none;
}
.st{
  outline:none;
  border:none;
  width:300px;
  background-color:black;
  color:white;
  font-size:20px;
  letter-spacing:2px;
  cursor:pointer;
  border-radius:40px;
  text-decoration:none;
}