@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url(./images/spaceBg.png);
    background-attachment: fixed;
    margin: 0;
}

nav{
    position: sticky;
    top: 0px;
}

ul{
    margin: 0px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    background-color: rgba(40, 40, 40, 0.5);
    gap: 50px;
}

main{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px;
    width: 960px;
    background-color: black;
    color: white;
    font-family: 'Share Tech Mono', 'Share Tech Mono',Lato,LatoExtended,sans-serif;
    font-size: 16px;
    gap: 20px;
}

header{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 960px;
    background-color: black;
    color: white;
    font-family: 'Share Tech Mono', 'Share Tech Mono',Lato,LatoExtended,sans-serif;
    font-size: 16px;
    gap: 20px;
}

article{
    display: flex;
    flex-direction: column;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer{
    display:flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 960px;
    background-color: black;
    color: white;
    font-family: 'Share Tech Mono', 'Share Tech Mono',Lato,LatoExtended,sans-serif;
    font-size: 16px;
    gap: 20px;
}

h3{
    display: flex;
    justify-self: start;
    font-family: 'Share Tech Mono', 'Share Tech Mono',Lato,LatoExtended,sans-serif;
}

a{
    color: #8421ea;
}

li{
    display: flex;
    height: 28px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.nav-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    border: 1px solid grey;
    border-radius: 2px;
    background: black;
    color: white;
    font-family: 'Share Tech Mono', 'Share Tech Mono',Lato,LatoExtended,sans-serif;
}

.naration{
    display: block;
}

.image-placeholder{
    height: max-content;
    width: max-content;
    border: 1px solid grey;
}

.back-to-main-page{
    margin-top: auto;
    padding: 10px;
    width:max-content;
    border-radius: 4px;
    background-color: #8421ea;
    color: white;
    text-decoration: none;
    font-family: 'Share Tech Mono', 'Share Tech Mono',Lato,LatoExtended,sans-serif;
    font-weight: 600;
    font-size: small;
}
.categories{
    display: flex;
    flex-direction: column;
    height: 300px;
    border-top: 2px solid rgb(110, 110, 110);
    border-bottom: 2px solid rgb(41, 41, 41);
    background-color: rgb(31, 31, 31);
}

.select-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-top: 2px solid rgb(83, 83, 83);
    border-left: 3px solid rgb(83, 83, 83);
    border-right: 3px solid rgb(59, 59, 59);
    border-bottom: 2px solid rgb(133, 133, 133);
    color: white;
}

.category-btn{
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.text-window{
    height: 300px;
    border-top: 2px solid rgb(46, 46, 46);
    border-bottom: 2px solid rgb(59, 59, 59);
    border-left: 3px solid rgb(83, 83, 83);
    border-right: 3px solid rgb(59, 59, 59);
}

.cat-tip-txt{
    margin: 8px;
    padding: 0px;
}

.cat-btn{
    display: flex;
    align-items: flex-start;
    height: 64px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
}

.cat-image{
    height: 64px;
    width: 64px;
}

.cat-info{
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 60px;
    width: 100%;
    border-top: 2px solid rgb(39, 39, 39);
    border-bottom: 2px solid rgb(19, 19, 19);
    border-right: 2px solid rgb(19, 19, 19);
    background-color: rgb(24, 24, 24);
    font-family: 'Share Tech Mono', 'Share Tech Mono',Lato,LatoExtended,sans-serif;
    font-size: large;
    text-decoration: none;
    color: white;
    gap: 8px;
}

.main-cat-info{
    margin: 0px;
    padding: 0px;
    font-weight: 100;
}

.cat-info#out-border{
    display: flex;
    flex-direction: row;
    padding: 0px;
    height: 64px;
    width: 100%;
    border-top: 2px solid rgb(49, 49, 49);
    border-bottom: 2px solid rgb(10, 10, 10);
    border-right: 2px solid rgb(19, 19, 19);
}

button.category-btn{
    display: block;
    height: 30px;
    width: 25%;
    border-top: 2px solid rgb(117, 117, 117);
    border-bottom: 2px solid rgb(75, 75, 75);
    border-left: 3px solid rgb(117, 117, 117);
    border-right: 3px solid rgb(75, 75, 75);
    background-color: rgb(92, 92, 92);
    color: orange;
}

button.category-btn:hover{
    background-color: rgb(85, 85, 85);
}

.cat-info:active{
    border-top: 2px solid #68255a;
    border-bottom: 2px solid #3a1132;
    border-right: 2px solid #3a1132;
    background-color: #501745;
}

#out-border:active{
    border-top: 2px solid #79336a;
    border-bottom: 2px solid #310d2a;
}

#outer-border{
    display: flex;
    padding: 0px;
    border-top: 2px solid rgb(133, 133, 133);
    border-bottom: 2px solid rgb(46, 46, 46);
    border-left: 0px;
    border-right: 0px;
}

#inner-border{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
    height: 15px;
    width: 100%;
    border-top: 2px solid rgb(117, 117, 117);
    border-bottom: 2px solid rgb(75, 75, 75);
    border-left: 3px solid rgb(117, 117, 117);
    border-right: 3px solid rgb(75, 75, 75);
    background-color: rgb(92, 92, 92);
    font-family: 'Share Tech Mono', Europe;
    color: grey;
}


@media screen and (max-width: 970px) and (min-width: 600px) {
    ul{
        gap: 20px;
    }

    .nav-button{
        width: 100px;
    }

    header{
        width: 600px;
    }

    main{
        flex-direction: column-reverse;
        width: 600px;
    }

    footer{
        width: 600px;
    }

    aside{
        overflow: auto;
        flex-direction: row;
        gap: 0px;
    }

    .aside-image{
        height: fit-content;
    }
}

@media screen and (max-width: 600px) {
    ul{
        gap: 10px;
    }

    .nav-button{
        width: 100px;
    }

    header{
        width: 100%;
    }

    main{
        flex-direction: column-reverse;
        width: 100%;
    }

    footer{
        width: 100%;
    }

    aside{
        overflow: auto;
        flex-direction: row;
        gap: 0px;
    }

    .aside-image{
        width: 100%;
    }
}